<div class="content">
  <ng-container *ngIf="!loading">
    <form #templateForm="ngForm" (ngSubmit)="onSubmit()">
      <app-step1 [(finanzamt)]="finanzamt"></app-step1>

      <ng-container *ngIf="finanzamt.subFinanzamt">
        <app-step2 [(finanzamt)]="finanzamt.subFinanzamt"></app-step2>
      </ng-container>

      <app-step3></app-step3>

    </form>

    <div class="form-ui form-value">
      <h4>Current Form Value</h4>
      <pre [innerHTML]="templateForm.value | json"></pre>
      <h4>Form Validity: {{templateForm.valid}}</h4>
    </div>
  </ng-container>
</div>
