<h3>Step Three</h3>
<button type="button" (click)="addArray()">Add Array</button>

<ng-container *ngIf="arrayName">
  <div [ngModelGroup]="arrayName">

    <h2>{{ arrayName }}</h2>
    <button type="button" (click)="addFieldToArray()">+ And another one</button>

    <div *ngFor="let alias of formArray; let i=index">
      <label [for]="'alias-' + i">Noice:</label>
      <input [name]="'alias-' + i" [id]="'alias-' + i" type="text" ngModel>
    </div>

  </div>
</ng-container>

<div>
  <button [disabled]="!parentForm.valid" type="submit">Save</button>
</div>
